$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #09653a,
    primary-dark: #09653a,
    secondary: #09653a,
    secondary-dark: #09653a
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
); 