.pagination {


    --bs-pagination-hover-bg: #cee0d8 !important;
    --bs-pagination-active-bg:#cee0d8 !important;
    --bs-pagination-hover-border-color: #03683a !important;
    --bs-pagination-active-border-color:#03683a !important
}