<div class="page-header ng-star-inserted">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title"><!----><!---->
          <h5 class="mb-2 ng-star-inserted"> Membership</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a _>Messages </a></li>
          <li class="breadcrumb-item ng-star-inserted">
            <a href="javascript:">
              Unsent Message
            </a>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="card">


  <div class="col-md-12 p-4 ">
    <div class="row mt-2"  *ngIf="!isSent">
      <div class="col-12 text-end" *ngIf="userView.role.includes('SuperAdmin')">

        <button class="btn btn-sm btn-outline-primary text-end" (click)="send()">
          <i class="bi bi-plust"></i> Send Unsent Messages </button>


      </div>
    </div>

    <div class="row">

      <div class="col-3">
        <div class="form-floating mb-3">

          <input type="text" placeholder="search ..." class="form-control" style="font-size: 18px;"
            [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search">

          <label for="floatingInput">Filter :</label>
        </div>
      </div>

      <div class="col-3">

        <div class="form-floating mb-3">

          <select class="form-control" [(ngModel)]="isSent" (change)="getMessages()">

            <option [value]="true">Sent<option>
            <option [value]="false">Not sent</option>

          </select>
          <label for="floatingInput">Message Status</label>
        </div>
      </div>




    </div>


    <table class="custom-table mt-4">
      <thead>
        <tr>
          <th *ngIf="!isSent">
            <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="areAllSelected" />
          </th>
          <th>Name</th>
          <th>PhoneNumber</th>
          <th>Message Content</th>
          <th>Message Type</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredMessages">
          <td  *ngIf="!isSent">
            <input type="checkbox" [checked]="isSelected(item)" (change)="toggleSelection(item)" />
          </td>
          <td>{{ item.memberName }}</td>
          <td>{{ item.memberPhoneNumber }}</td>
          <td>{{ item.messageContent }}</td>
          <td>{{ item.messageTypeGet }}</td>

        </tr>
      </tbody>
    </table>



  </div>

</div>